<ion-content>
  <br /><br /><br /><br /><br />
  <figure class="ion-text-center ion-padding">
    <img src="assets/images/logo-h.png" />
  </figure>
  <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
    <ion-item lines="none">
      <ion-input
        type="email"
        formControlName="email"
        placeholder="Email"
      ></ion-input>
    </ion-item>
    <div class="validation-messages">
      <ng-container *ngFor="let validation of validationMessages.email">
        <div
          *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)"
        >
          {{validation.message}}
        </div>
      </ng-container>
    </div>
    <ion-item lines="none">
      <ion-input
        type="password"
        formControlName="password"
        placeholder="Contraseña"
      ></ion-input>
    </ion-item>
    <div class="validation-messages">
      <ng-container *ngFor="let validation of validationMessages.password">
        <div
          *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)"
        >
          {{validation.message}}
        </div>
      </ng-container>
    </div>
    <br /><br /><br />
    <div class="validation-messages">{{messageAuthenticated}}</div>
    <ion-button
      expand="block"
      shape="round"
      [disabled]="!loginForm.valid"
      type="submit"
      >Ingresar</ion-button
    >
  </form>
</ion-content>
<ion-footer>
  <ion-button
    expand="block"
    shape="round"
    fill="outline"
    (click)="goToRegister()"
    >Registrarse</ion-button
  >
</ion-footer>
