<ion-content [fullscreen]="true">
  <ion-slides pager="true">
    <ion-slide>
      <ion-icon name="close"></ion-icon>
      <br /><br /><br /><br /><br />
      <img src="assets/images/logo-h.png" />
      <br /><br /><br />
      <h3>Lorem Title</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur culpa
        harum debitis, libero nostrum, distinctio deleniti placeat corrupti
      </p>
      <ion-icon name="camera"></ion-icon>
    </ion-slide>
    <ion-slide>
      <ion-icon name="close"></ion-icon>
      <br /><br /><br /><br /><br />
      <img src="assets/images/logo-h.png" />
      <br /><br /><br />
      <h3>Lorem Title</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur culpa
        harum debitis, libero nostrum, distinctio deleniti placeat corrupti
      </p>
      <ion-icon name="airplane"></ion-icon>
    </ion-slide>
    <ion-slide>
      <ion-icon name="close"></ion-icon>
      <br /><br /><br /><br /><br />
      <img src="assets/images/logo-h.png" />
      <br /><br /><br />
      <h3>Lorem Title</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur culpa
        harum debitis, libero nostrum, distinctio deleniti placeat corrupti
      </p>
      <ion-icon name="restaurant"></ion-icon>
    </ion-slide>
  </ion-slides>
</ion-content>
